# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/

# Streamlit Secrets (CRITICAL)
.streamlit/secrets.toml

# Environment Variables
.env

# Data Files (Excel & JSON Local backups)
*.xlsx
*.xls
*.csv
personnel.json
suivi_employes.json

# IDE Settings
.vscode/
.idea/
*.swp

# OS specific
.DS_Store
Thumbs.db
